body {
	background-color: #f2f2f2;
}

.container {
	width: 500px;
	margin: 0 auto;
	padding-bottom: 50px;	
}

.project {
	background-color: white;
	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 30px;
}

h1 {
	font-family: georgia;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	line-height: 50px;
	text-transform: uppercase;
	letter-spacing: 6px;
	padding-bottom: 30px;

}

h2 {
	font-family: georgia;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	line-height: 40px;
	text-transform: lowercase;
	letter-spacing: 4px;
}


h3 {
	font-family: georgia;
	font-size: 16px;
	color: #828282;
	line-height: 20px;
}

h4 {

	font-family: georgia;
	font-size: 16px;
	font-weight: bold;
	line-height: 30px;
	letter-spacing: 2px;

}

p {
	font-family: georgia;
	font-size: 16px;
	letter-spacing: 2px;
	line-height: 20px;


}

.sidebar{
	float: right;
	position: static;
	clear: left;
	margin-right: 100px;
	padding-top: 80px;

}

a{
	text-decoration: none;
	font-family: georgia;
	font-size: 16px;
	color: #828282;
	line-height: 20px;
}



