body {
	background-color: #FADADD;
}

h1 {
	font-family: 'Quicksand';
	font-size: 30px;
	padding-bottom: 30px;
	padding-top: 20px;
}

p {
	font-family: 'Lora';
	font-size: 15px;
	line-height: 20px;
}

img {
	width: 50%;
	height: auto;
	padding-top: 20px;
}

a {
	text-decoration: none;
	color: #b3b3b3;
}